In [2]:
import pandas as pd 
data=pd.read_csv("KaggleV2-May-2016.csv")
data

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [2]:
data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [4]:
data.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [5]:
data.columns = [col.strip().lower().replace(" ", "_").replace("-", "_") for col in data.columns]

In [6]:
duplicates = data.duplicated().sum()
print(f"Duplicate rows: {duplicates}")

# Remove them
data = data.drop_duplicates()

Duplicate rows: 0

In [7]:
data['scheduledday'] = pd.to_datetime(data['scheduledday'])
data['appointmentday'] = pd.to_datetime(data['appointmentday'])

In [8]:
data['gender'] = data['gender'].str.upper().replace({'F': 'Female', 'M': 'Male'})
data['no_show'] = data['no_show'].str.strip().str.title()  # 'No' / 'Yes'

In [9]:
invalid_ages = data[(data['age'] < 0) | (data['age'] > 110)]
print(f"Invalid age records: {len(invalid_ages)}")

Invalid age records: 6

In [10]:
data = data[(data['age'] >= 0) & (data['age'] <= 110)]

In [11]:
data = data[data['scheduledday'] <= data['appointmentday']]

In [12]:
print(data.dtypes)

patientid                     float64
appointmentid                   int64
gender                         object
scheduledday      datetime64[ns, UTC]
appointmentday    datetime64[ns, UTC]
age                             int64
neighbourhood                  object
scholarship                     int64
hipertension                    int64
diabetes                        int64
alcoholism                      int64
handcap                         int64
sms_received                    int64
no_show                        object
dtype: object

In [14]:
 print("\nData types after cleaning:")
print(data.dtypes)

print("\nCleaned dataset preview:")
print(data.head())

Data types after cleaning:
patientid                     float64
appointmentid                   int64
gender                         object
scheduledday      datetime64[ns, UTC]
appointmentday    datetime64[ns, UTC]
age                             int64
neighbourhood                  object
scholarship                     int64
hipertension                    int64
diabetes                        int64
alcoholism                      int64
handcap                         int64
sms_received                    int64
no_show                        object
dtype: object

Cleaned dataset preview:
       patientid  appointmentid  gender              scheduledday  \
5   9.598513e+13        5626772  Female 2016-04-27 08:36:51+00:00
6   7.336882e+14        5630279  Female 2016-04-27 15:05:12+00:00
7   3.449833e+12        5630575  Female 2016-04-27 15:39:58+00:00
9   7.812456e+13        5629123  Female 2016-04-27 12:48:25+00:00
10  7.345362e+14        5630213  Female 2016-04-27 14:58:11+00:00

              appointmentday  age   neighbourhood  scholarship  hipertension  \
5  2016-04-29 00:00:00+00:00   76       REPÚBLICA            0             1
6  2016-04-29 00:00:00+00:00   23      GOIABEIRAS            0             0
7  2016-04-29 00:00:00+00:00   39      GOIABEIRAS            0             0
9  2016-04-29 00:00:00+00:00   19       CONQUISTA            0             0
10 2016-04-29 00:00:00+00:00   30  NOVA PALESTINA            0             0

    diabetes  alcoholism  handcap  sms_received no_show
5          0           0        0             0      No
6          0           0        0             0     Yes
7          0           0        0             0     Yes
9          0           0        0             0      No
10         0           0        0             0      No

I started by renaming all the column names to lowercase with underscores so they look neat and are easy to work with.
Next, I removed duplicate records to keep only unique entries and checked for any missing values in important columns like age, gender, and appointment dates — luckily, there weren’t any major gaps.
The date columns (scheduledday and appointmentday) were converted into proper datetime format to make time-based analysis easier.
I also cleaned up text fields by changing “F/M” to “Female/Male” and making the no_show values consistent.
Invalid age entries (below 0 or above 110) were removed, and I made sure that scheduled dates always came before or on the actual appointment dates.
Finally, I saved the cleaned and well-structured dataset as medical_appointments_cleaned.csv, ready for further analysis.